<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="kai">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />

    <!-- Import kai urdf file -->
    <xacro:include filename="$(find kai)/src/description/robot.urdf.xacro" />

    <!-- Import control_xacro -->
    <xacro:include filename="kai.ros2_control.xacro" />


    <xacro:kai_ros2_control name="FakeSystem" initial_positions_file="$(arg initial_positions_file)"/>

</robot>
