<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="kai">
<xacro:include filename="$(find kai)/src/description/robot_core.xacro" />
<xacro:include filename="$(find kai)/src/description/gazebo.xacro" />
<xacro:include filename="$(find kai)/src/description/ros_control.xacro" />
</robot>
